<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>images</key>
		<array>
			<string>Africa-ios7.png</string>
			<string>Ancient America - ios7.png</string>
			<string>dragon-ios7.png</string>
			<string>contemporary-ios7.png</string>
			<string>modern-ios7.png</string>
			<string>camera-ios7.png</string>
			<string>prints.png</string>
		</array>
		<key>data</key>
		<array>
			<string>African</string>
			<string>Ancient American</string>
			<string>Asian</string>
			<string>Contemporary</string>
			<string>Modern</string>
			<string>Photography</string>
			<string>Prints and Drawings Bef...</string>
		</array>
	</dict>
	<dict>
		<key>images</key>
		<array>
			<string>map.png</string>
			<string>harnglyph@2x.png</string>
			<string>about.png</string>
			<string>privacy.png</string>
		</array>
		<key>data</key>
		<array>
			<string>Map</string>
			<string>About The HARN</string>
			<string>About This App</string>
			<string>Privacy Policy</string>
		</array>
	</dict>
</array>
</plist>
