<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>images</key>
		<array>
			<string>african.png</string>
			<string>ancientamerican.png</string>
			<string>asian.png</string>
			<string>contemporary.png</string>
			<string>modern.png</string>
			<string>photography.png</string>
			<string>prints.png</string>
		</array>
		<key>data</key>
		<array>
			<string>African</string>
			<string>Ancient American</string>
			<string>Asian</string>
			<string>Contemporary</string>
			<string>Modern</string>
			<string>Photography</string>
			<string>Prints and Drawings Before 1234</string>
		</array>
	</dict>
	<dict>
		<key>images</key>
		<array>
			<string>favorites.png</string>
			<string>photos.png</string>
		</array>
		<key>data</key>
		<array>
			<string>Favorites</string>
			<string>Photos</string>
		</array>
	</dict>
</array>
</plist>
